body {
	background-color: #DDDDDD;
	font-family: 'Overlock', Arial;
	text-align: center;
}
.a2D882D {
	background-color: #2D882D;
}
.a226666 {
	background-color: #226666;
}
.a57AB85 {
	background-color: #57AB85;
}
.aFFB07D {
	background-color: #FFB07D;
}
.a316D00 {
	background-color: #316D00;
}
.a77C4B5 {
	background-color: #77C4B5;
}
.aC2E6A4 {
	background-color: #226666;
}
.aFF9C5C {
	background-color: #FF9C5C;
}

.floating_ads > div {
	height: 273px;
	width: 1563px;
	opacity: 0.5;
}

.floating_ads > div:hover {
	opacity: 0.9;
}

p {
	font-family: 'Overlock', Arial;
}

/* transition: 300ms ease;
transition-property: initial;
transition-duration: 300ms;
transition-timing-function: ease;
transition-delay: initial;
-webkit-transition: 300ms ease;
-webkit-transition-property: initial;
-webkit-transition-duration: 300ms;
-webkit-transition-timing-function: ease;
-webkit-transition-delay: initial;
-moz-transition: 300ms ease;
-o-transition: 300ms ease;
-ms-transition: 300ms ease; 