@font-face {
  font-family: 'Signika-Light';
  src: url(../fonts/Signika-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Signika-Regular';
  src: url(../fonts/Signika-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Signika-Bold';
  src: url(../fonts/Signika-Bold.ttf) format('truetype');
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box; /* automatyzuje wysokosc, dopasowuje paddingi*/
}

html, body {
	margin: 0;
}

body {
	background-color: #FDFDFD;
	font-family: 'Signika-Light';
	text-align: center;
}

header {
	background-color: #E6E6E6;
	height: 100px;
	position: fixed;
	top: 0;
	left:0;
	right:0;
	z-index: 100;
}

nav {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	font-family: 'Signika-Regular';
}

.menu {
	height: 100%;
	margin: 0;
}

.menu li {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	display: inline-block;
	width: 13.34%;
	height: 100%;
	background-color: transparent;
	color: black;
	/*font-size: 22px; */
	font-size: 100%;
	line-height: 455%;
}
.menu li:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.menu li a {
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.container {
	margin-top: 100px;
}

.container > div {
	height: 350px;
	width: 100%;
	max-width: 1200px;
}

.about {
	background-color: #FFFFFF;
	width: 70%;
	position: relative;
	padding-bottom: 35px;
	position: relative;
	padding-top: 35px;
}

.about p {
	width: 70%;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 0;
	padding-left: 150px;
	padding-right: 150px;
}

.about img {
	height: 80%;
	width: 30%;
	position: absolute;
	right: 0;
}

.services {
	background-color: #EEEEEE;
	padding-top: 35px;
}

.services p {
	padding-left: 200px;
	padding-right: 200px;
}

.reptiles {
	background-color: #9C9C9C;
	position: relative;
	padding-top: 0px;
}

#gallery {
	height: 383px;
	position: absolute;
	padding-top: 0px;
}

#gallery img {
	display: inline-block;
	width: 20%;
	height: 45%;
}

.container .footer {
	background-color: #EEEEEE;
	height: 200px;
	position: relative;
}

.footer span {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 13px;
}

/* strzalka oznacza bezposrednie dziecko*/
/*.container > .about {
	opacity: 0.5;
}
.container > .about:hover {
	opacity: 0.9;
} */

.about p {
	margin-top: 0px;
}

.services p {
	margin-top: 0px;
}

.references p {
	margin-top: 0px;
}

.footer p {
	margin-top: 0px;
}
